pkgbase = macdock-git
	pkgdesc = A macOS-style dock for X11 Linux desktops
	pkgver = 0.1.0.r11.gf43df58
	pkgrel = 1
	url = https://github.com/svandecappelle/mydock
	arch = x86_64
	arch = aarch64
	license = LicenseRef-unknown
	makedepends = git
	makedepends = cmake
	makedepends = pkgconf
	depends = glib2
	depends = gtk3
	depends = cairo
	depends = pango
	depends = gdk-pixbuf2
	depends = libwnck3
	depends = libx11
	depends = libxext
	optdepends = picom: compositor for the translucent look
	provides = macdock
	conflicts = macdock
	source = macdock::git+https://github.com/svandecappelle/mydock.git
	sha256sums = SKIP

pkgname = macdock-git
